<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SOLGESTION</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />

</head>
<body>
	<nav th:replace="/plantillas/menucabecera :: menu"></nav>
	<div class="container">
		<h1 th:text="'Sesiones por Máquina'"
			class="text-dark border border-success border-top-0 border-left-0 border-right-0"></h1>
	
	</div>
	
	<form role="form" th:action="@{/sesion/registrarsesion}"
		th:object="${maquina}" method="post">
		<div class="container">
			<div>
				<div class="row align-items-end">
					<div class="form-group col-sm-3 row">
						<label for="codigo">nombre</label> <input type="text"
							autocomplete="nope" th:field="*{nombre}" id="nombre"
							class="form-control" readonly>
					</div>
					<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
						class="alert alert-danger col-sm-6"></small>

				</div>
			</div>
		</div>

		<div class="row align-items-end"></div>



		<div class="container">
			<div>
				<input type="hidden" th:field="*{id}" id="id"> <input
					type="hidden" th:field="*{identificador}" id="identificador">
				<input type="hidden" th:field="*{marca}" id="marca"> <input
					type="hidden" th:field="*{modelo}" id="modelo"> <input
					type="hidden" th:field="*{contadorTotal}" id="contadorTotal">
				<input type="hidden" th:field="*{contadorParcial}"
					id="contadorParcial"> <input type="hidden"
					th:field="*{lampara}" id="lampara">
			</div>
		</div>
	</form>
	
	<form role="form" th:action="@{/listado/listadosesiones}"
		th:object="${rangoFechas}" method="post">
		<div class="container">
			<div>
				<div class="row align-items-end">
					<div class="form-group col-sm-2 row">
						<label for="codigo">Desde</label> <input type="date"
							autocomplete="nope" th:field="*{inicio}" id="inicio"
							class="form-control">
					</div>
					<small th:if="${#fields.hasErrors('inicio')}" th:errors="*{inicio}"
						class="alert alert-danger col-sm-6"></small>
				</div>
			</div>
			<div class="row align-items-end">
				<div class="form-group col-sm-2 row">
					<label for="codigo">Hasta</label> <input type="date"
						autocomplete="nope" th:field="*{fin}" id="fin"
						class="form-control">
				</div>
				<small th:if="${#fields.hasErrors('fin')}" th:errors="*{fin}"
					class="alert alert-danger col-sm-6"></small>
			</div>
		</div>
	</form>
</body>
</html>