<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SOLGESTION</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />

</head>
<body>
	<nav th:replace="/plantillas/menucabecera :: menu"></nav>
	<div class="container">
		<h1 th:text="'Alta sesión'"
			class="text-dark border border-success border-top-0 border-left-0 border-right-0"></h1>
	</div>
	<form role="form" th:action="@{/sesion/registrarsesion}"
		th:object="${cliente}" method="post">
		<div class="container">
			<div>
				<div class="row align-items-end">
					<div class="form-group col-sm-3 row">
						<label for="codigo">Código Barras</label> <input type="text"
							autocomplete="nope" th:field="*{codigoBarras}" id="codigoBarras"
							class="form-control" readonly>
					</div>
					<small th:if="${#fields.hasErrors('codigoBarras')}"
						th:errors="*{codigoBarras}" class="alert alert-danger col-sm-6"></small>

				</div>
			</div>
			<div class="row align-items-end">
				<div class="form-group col-sm-2 row">
					<label for="codigo">Nombre</label> <input type="text"
						autocomplete="nope" th:field="*{nombre}" id="nombre"
						class="form-control" readonly>
				</div>
				<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
					class="alert alert-danger col-sm-6"></small>

				<div class="form-group col-sm-6 row">
					<label for="codigo">Apellidos</label> <input type="text"
						autocomplete="nope" th:field="*{apellidos}" id="apellidos"
						class="form-control" readonly>
				</div>
				<small th:if="${#fields.hasErrors('apellidos')}"
					th:errors="*{apellidos}" class="alert alert-danger col-sm-6"></small>

				<div class="form-group col-sm-2 row">
					<label for="codigo">NIF</label> <input type="text"
						autocomplete="nope" th:field="*{nif}" id="nif"
						class="form-control" readonly>
				</div>
				<small th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"
					class="alert alert-danger col-sm-6"></small>
			</div>
		</div>

		<div class="row align-items-end"></div>



		<div class="container">
			<div>
				<input type="hidden" th:field="*{id}" id="id"> <input
					type="hidden" th:field="*{direccion}" id="direccion"> <input
					type="hidden" th:field="*{codigoPostal}" id="codigoPostal">
				<input type="hidden" th:field="*{localidad}" id="localidad">
				<input type="hidden" th:field="*{provincia}" id="provincia">
				<input type="hidden" th:field="*{fechaNacimiento}"
					id="fechaNacimiento"> <input type="hidden"
					th:field="*{telefonoFijo}" id="telefonoFijo"> <input
					type="hidden" th:field="*{telefonoMovil}" id="telefonoMovil">
				<input type="hidden" th:field="*{email}" id="email"> <input
					type="hidden" th:field="*{sesionesCliente}" id="sesionesCliente">
				<input type="hidden" th:field="*{bono}" id="bono"> <input
					type="hidden" th:field="*{activo}" id="activo">

			</div>
		</div>
	</form>

	<form role="form" th:action="@{/sesion/registrarsesion}"
		th:object="${maquina}" method="post">
		<div class="container">
			<div>
				<div class="row align-items-end">
					<div class="form-group col-sm-3 row">
						<label for="codigo">nombre</label> <input type="text"
							autocomplete="nope" th:field="*{nombre}" id="nombre"
							class="form-control" readonly>
					</div>
					<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
						class="alert alert-danger col-sm-6"></small>

				</div>
			</div>
		</div>

		<div class="row align-items-end"></div>



		<div class="container">
			<div>
				<input type="hidden" th:field="*{id}" id="id"> <input
					type="hidden" th:field="*{identificador}" id="identificador">
				<input type="hidden" th:field="*{marca}" id="marca"> <input
					type="hidden" th:field="*{modelo}" id="modelo"> <input
					type="hidden" th:field="*{contadorTotal}" id="contadorTotal">
				<input type="hidden" th:field="*{contadorParcial}"
					id="contadorParcial"> <input type="hidden"
					th:field="*{lampara}" id="lampara">
			</div>
		</div>
	</form>
	<form role="form" th:action="@{/sesion/registrarsesion}"
		th:object="${sesion}" method="post">
		<div class="container">
			<div class="row align-items-end">
				<div class="form-group col-sm-2 row">
					<label for="codigo">Duración Sesión</label> <input type="number"
						autocomplete="nope" th:field="*{duracion}" id="duracion"
						class="form-control">
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<label> </label> <input type="submit" value="Registar sesión"
				class="btn btn-primary form-control">
		</div>
		<div class="row align-items-end"></div>



		<div class="container">
			<div>
				<input type="hidden" th:field="*{id}" id="id"> 
		 		<input	type="hidden" th:field="*{fecha}" id="fecha">
			</div>
		</div>
	</form>



</body>
</html>