<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SOLGESTION</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />

</head>
<body>
<nav th:replace="/plantillas/menucabecera :: menu"></nav>
	<div class="container">
		<h1 th:text="'Pantalla Principal'"
			class="text-dark border border-success border-top-0 border-left-0 border-right-0"></h1>
			</div>
			<div class="container">
		<h1 th:text="'Solgestión'"
			class="text-dark border border-success border-top-0 border-left-0 border-right-0"></h1>
			</div>

</body>
</html>