<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SOLGESTION</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />

</head>
<body>
	<nav th:replace="/plantillas/menucabecera :: menu"></nav>
	<div class="container">
		<h1 th:text="'Asocia Bono'"
			class="text-dark border border-success border-top-0 border-left-0 border-right-0"></h1>
		<form role="form" th:action="@{/bono/asociabono}" th:object="${bono}"
			method="post">
			<div class="container">
				<div class="row align-items-end">
					<div class="form-group col-sm-2">
						<label for="codigo">Código</label> <input type="number"
							placeholder="XXXX" th:field="*{identificadorBono}"
							id="identificadorBono" class="form-control" readonly>
					</div>
					<div class="form-group col-sm-6">
						<label for="codigoBarras">Código de Barras</label> <input
							type="text" th:field="*{codigoBarras}" class="form-control"
							id="codigoBarras" readonly>
					</div>
					<div class="form-group col-sm-2 row">
						<label for="minutos">Minutos</label> <input type="number"
							th:field="*{minutos}" class="form-control" id="minutos" readonly>
					</div>
				</div>
				<div>
					<input type="hidden" th:field="*{id}" id="id">
				</div>
			</div>
		</form>
		<form role="form" th:action="@{/bono/clienteasocia}"
			th:object="${auxiliarDatos}" method="post">
			<div class="container">
				<div>
					<div class="row align-items-end">
						<div class="form-group col-sm-3 row">
							<label for="codigo">Cliente</label> <input type="text"
								autocomplete="nope" th:field="*{dato1}" name="dato1" id="dato1"
								class="form-control">
						</div>
						<small th:if="${#fields.hasErrors('dato1')}" th:errors="*{dato1}"
							class="alert alert-danger col-sm-6"></small>
					</div>

					<small th:if="${mensaje}" th:errors="*{mensaje}"
						class="alert alert-danger col-sm-6"></small>
				</div>
			</div>
			<div class="row align-items-end"></div>
			<div class="col-sm-2">
				<label> </label> <input type="submit" value="Asociar"
					class="btn btn-primary form-control">
			</div>
		</form>
</body>
</html>